$primary-color: #333;
$secondary-color: #ffffff;

.header-bg {
  background-color: $secondary-color;
  border: none;
  margin-top: 4rem;
  img{
    height: 100px;
  }
}

.card{
  box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.1);
  background-color: $secondary-color;
}

.card-body>form{
  margin: 0 2rem;
  background-color: $secondary-color;
}

.nav-line:hover{
  text-decoration: underline;
  cursor: pointer;
}
