<div class="col-md-4 offset-md-4 mt-5">
  <div class="card">
    <div class="card-header text-center header-bg">
      <img class="img img-fluid mt-2" src="assets/samooha-logo.png" alt="Samooha">
      <h3>Forgot Password?</h3>
      <h5 class="text-muted">Enter your email to get a password reset link</h5>
    </div>
  <div class="card-body">
    <form (submit)="emailSubmit()">
      <div class="form-group">
        <input type="tel" class="form-control is-valid" [(ngModel)]="email" name="emailid"
          aria-describedby="emailHelpId" placeholder="Email" #emailid="ngModel"
          [ngClass]="{ 'is-invalid': submitted && emailid.invalid }">
        <div *ngIf="submitted && emailid.errors" class="invalid-feedback">
          <div *ngIf="emailid.errors.required">Email Id is Required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
    </form>
    <div class="text-muted text-center mt-2 mb-2">
      <span>Remember your password? <a class="nav-line" [routerLink]="['/login']">Login</a>  </span>
    </div>
    <div *ngIf="submitted && success" class="alert alert-success mt-3 mb-0">{{success}}</div>
     <div *ngIf="submitted && error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</div>
</div>
