<h1 mat-dialog-title>
  {{data.plot.plotName}}
</h1>
<h5>Plot No: {{this.subProject.name}} - {{this.subProject.category1}} sqyards - {{this.status}} </h5>
<div mat-dialog-content>
  <form [formGroup]="subplotForm" (submit)="onSubmit()">
    <div class="form-group">
      <mat-label>Customer Name</mat-label>
      <input class="form-control is-valid" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" matInput
        formControlName="customerName">
      <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
        <div *ngIf="f.customerName.errors.required">Customer Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <mat-label>Customer Phone No:</mat-label>
      <input class="form-control is-valid" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" matInput
        formControlName="phone">
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
      </div>
    </div>
    <div class="form-group">
      <mat-label>Additional Phone No:</mat-label>
      <input class="form-control is-valid" [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }" matInput
        formControlName="phone2">
    </div>
    <div class="form-group">
      <mat-label>Address</mat-label>
      <textarea class="form-control is-valid" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" matInput
        formControlName="address"></textarea>
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Address is required</div>
      </div>
    </div>
    <div class="form-group">
      <mat-label>Price</mat-label>
      <input class="form-control is-valid" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" matInput
        formControlName="price">
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Address is required</div>
      </div>
    </div>
    <div class="form-group">
      <!-- <mat-label>Date:</mat-label>
      <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.updateDate.errors }"
       type="date"
        formControlName="updateDate" /> -->
        <mat-label>Choose a date</mat-label>
        <div class="input-group mb-2">
          <input class="form-control" matInput [matDatepicker]="picker" formControlName="updateDate" name="updateDate" [ngClass]="{ 'is-invalid': submitted && f.updateDate.errors }">
          <div class="input-group-append">
            <div class="input-group-text p-0">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
          <div *ngIf="submitted && f.updateDate.errors" class="invalid-feedback">
            <div *ngIf="f.updateDate.errors.required">Date is required</div>
          </div>
        </div>


    </div>



    <div class="form-group">
      <mat-label>Agent</mat-label>
      <select class="custom-select"  formControlName="agent">
        <option value="" disabled>Select an Agent</option>
        <option *ngFor="let agent of agents" [value]="agent.id">{{agent.firstName}} {{agent.lastName}} -
          {{agent.accountCode}}</option>
      </select>
      <div *ngIf="submitted && f.agent.errors" class="invalid-feedback">
        <div *ngIf="f.agent.errors.required">Agent is required</div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button class="ml-auto" mat-button (click)="onCloseDialog()" cdkFocusInitial>{{buttonTxt}}</button>
</div>
