<mat-toolbar color="primary" class="justify-content-center">
  <span>
    <img src="assets/samooha-logo.png" class="img img-fluid img-height"/>
  </span>
</mat-toolbar>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="post-info">
      <p style="text-align: justify;">Samooha. hereby prompts you to carefully read and fully understand
        the Samooha User Agreement (hereinafter referred to as "this Agreement"). You shall carefully read
        and fully understand all terms hereof, especially those on the exemption of Samooha from
        liabilities or restrictions to its liabilities, applicable laws and dispute resolution. Terms on the exemption
        from or restrictions to liabilities are highlighted in bold to catch your attention. Please prudently read and
        choose to accept or not to accept this Agreement (minors should read this Agreement accompanied by legal
        guardian). By using any Samooha Web Application, downloading any software based on Samooha, and so on, you acknowledge that you have read and understood, and agree to accept and be bound by the
        terms and conditions of this Agreement. If you choose not to accept this Agreement, please do not use any
        Samooha Web Application, system, or software. Samooha has the right to modify this
        Agreement. Modified terms will be published on the Samooha Web Applications and official website,
        and come into effect on the date specified in the revised Agreement.</p>

      <p style="text-align: justify;">1. General Provisions</p>

      <p style="text-align: justify;">1.1 Samooha (including system services and software, see Appendix I
        for the list of some services and software) is the application deeply customized operating system independently
        researched and developed by Samooha. The ownership of such software and services belong to
        Samooha.</p>

      <p style="text-align: justify;">1.2 This Agreement is entered into among user, Samooha , its
        subsidiaries and affiliates (hereinafter referred to as "Samooha" or "we") and our operational
        co-operators (hereinafter referred to as "Co-operator"), with respect to the use of the Samooha
        Web Application, as well as downloading and upgrading of software (hereinafter referred to as "this Software"),
        and the use of other relevant Samooha services by the User.
      </p>

      <p style="text-align: justify;">1.3 This Software and services are provided by Samooha for Mobile
        &amp; Web Applications, and include the following items:</p>

      <p style="text-align: justify;">1.3.1 The software provided for the User on Samooha Web
        Applications, including but not limited to the code stored on any Samooha Web Application, as well
        as any other embedded software, files, interfaces, content, or any other data protected by the copyright of
        Samooha or its licensors;</p>

      <p style="text-align: justify;">1.3.2 Updates or upgrades of the software described in the preceding paragraph; and
      </p>

      <p style="text-align: justify;">1.3.3 Open source software. Any Samooha Web Application may contain
        the software protected by the copyright of a third party with the open source software license granted by a third
        party. Such open source software is differentiated by the license information provided in the Web Application,
        which also indicates the open source software license applicable to each component. Therefore, when the User uses
        such open source software, terms and conditions of the open source software license apply. This Agreement will not
        change any right or obligation that the User enjoys or undertakes in relation to such open source software
        license. If any permissive condition hereunder conflicts with the content of any open source software in the open
        source software license, the open source software license shall prevail.</p>

      <p style="text-align: justify;">1.4. The User shall understand that Samooha provides the User with
        this Web Application and relevant services only, and the User shall independently undertake expenses necessary for
        the equipment related to this Software and services (such as terminal fees and communication fees). At the same
        time, using this Software on the client side shall require having a terminal Web Application, as well as using
        bandwidth, communication traffic, and other resources.</p>

      <p style="text-align: justify;">2. Software License scope</p>

      <p style="text-align: justify;">2.1 Samooha grants the User one individual, non-transferable,
        non-sublicense, and non-exclusive license regarding this Software.</p>

      <p style="text-align: justify;">2.2 The User may install, use, display, and operate this Software on Samooha
        Housing Web Applications for non-commercial purposes. However, the User may not install, use, or operate this
        Software for commercial operation purposes. The User may not copy, change, modify, embed, or create any derivative
        works based on the data released by this Software, memory of any terminal Web Application on which this Software
        is running, or communication process between the client and the server. It is strictly prohibited to use this
        Software to create derivative works including but not limited to plug-ins and non-authorized third-party tools and
        services. If commercial sales, reproduction, and distribution are required (e.g. software pre-installation or
        bundling), written permission from Samooha must be obtained.</p>

      <p style="text-align: justify;">2.3. The User shall not, without the explicit permission of Samooha,
        install this Software on any other terminal Web Application.</p>

      <p style="text-align: justify;">2.4 The User may make a backup copy of this Software for the purpose of using this
        Software and services. The copy shall include all the copyright information included in the original software.
      </p>

      <p style="text-align: justify;">2.5 Except when explicitly authorized by this Agreement, Samooha
        does not grant any other right to the User. If the User needs to get any other right, the User shall obtain
        written consent from Samooha.</p>

      <p style="text-align: justify;">3. System Updates</p>

      <p style="text-align: justify;">3.1 In order to improve the overall user experience as well as the quality of our
        content and services, Samooha has the right to provide you with the replaced, amended, and
        upgraded versions of Samooha from time to time. Notifications about such updates are turned on by
        default. Based on the difference between current and updated versions, Samooha allows you to
        choose whether to use this feature. Samooha does not guarantee that old versions of Hyderabad
        Group Housing will be usable after new versions are released.</p>

      <p style="text-align: justify;">4. System Software and Services (Standard Term even though Samooha
        do not use any or access any)</p>

      <p style="text-align: justify;">4.1 The User may use system software and services, which include Browser, Music,
        Notes, Recorder, Compass, Bluetooth, Screen Recorder, File Manager, Phone, Yellow pages, Contacts, Messaging,
        Calendar, Weather, Clock, Gallery, and Camera. See Appendix I for the examples of such software and services.</p>

      <p style="text-align: justify;">4.2 Some software or services require the User to turn on location services,
        Bluetooth, or use mobile data networks. Using such services indicates that the User agrees to turn on location
        services, Bluetooth, or use mobile data networks.

      </p>
      <p style="text-align: justify;">4.3 Some system software or services may have separate user agreements and terms of
        service. The User must read and agree to such agreements before using the related software or services.</p>

      <p style="text-align: justify;">Terms of Use</p>

      <p style="text-align: justify;">5.1 The User may use this Software and related services in accordance with this
        Agreement, local laws and regulations. The User must not do the following:
      </p>

      <p style="text-align: justify;">5.1.1 Delete any copyright information from this Software and other copies thereof,
        and amend, delete, or evade any technical measure set for protecting intellectual property rights;</p>

      <p style="text-align: justify;">5.1.2 Conduct any reverse engineering for this Software, such as disassembling,
        decompilation, or any other action aimed at obtaining the source code of this Software;</p>
      <p style="text-align: justify;">5.1.3 By amending or fabricating any instruction or data in the software operation,
        add, delete or change any software function or operation effect, or operate or spread to the public any software
        or method used for the aforesaid purpose, no matter whether it is for a commercial purpose or not;</p>
      <p style="text-align: justify;">5.1.4 Conduct any behavior damaging network security by using this Software,
        including but not limited to: using unauthorized data or entering unauthorized server; without permission,
        entering a public network or others' operating system and deleting, amending or adding stored information; without
        permission, attempting to explore, scan or test the system or network vulnerability of this Software or conducting
        any other behavior damaging network security; attempting to interfere in or destroying the normal operation of the
        system or website of this Software, intentionally spreading malicious program or virus or conducting any other
        behavior destroying or disturbing normal network information service; and, fabricating the whole or partial name
        of TCP/IP data package;</p>
      <p style="text-align: justify;">5.1.5 Log on or use this Software and services through the third-party compatible
        software or system not developed, authorized or recognized by Samooha, or produce, launch or
        spread the aforesaid tool;</p>
      <p style="text-align: justify;">5.1.6 Without the written consent of Samooha, conduct any of the
        following behaviors for this Software and information in it without permission, including but not limited to: use,
        lease, lending, copying, amendment, link, reprinting, compilation, publication and publishing, establishment of a
        mirror image website and the arbitrarily development of any relevant derivative product, works, service, plug-in,
        tag-on, compatibility and interconnection by virtue of this Software;</p>
      <p style="text-align: justify;">5.1.7 Publish, transmit, spread or store any content in violation of any local law
        of the place where the User is located by virtue of this Software;</p>
      <p style="text-align: justify;">5.1.8 By virtue of this Software, publish, transmit, spread or store any content
        infringing upon the legitimate right of others such as intellectual property right or business secret;</p>
      <p style="text-align: justify;">5.1.9 By virtue of this Software, publish, transmit or spread advertising
        information and junk information in batch; or</p>
      <p style="text-align: justify;">5.1.10 Use this Software or any other service provided by Samooha in
        any other illegal way, for any illegal purpose, or in any way inconsistent with the license hereunder.</p>
      <p style="text-align: justify;">5.2 Information publication regulations</p>
      <p style="text-align: justify;">5.2.1 With regard to the information content published via this Software, the User
        shall guarantee that the User possesses the intellectual property right of the uploaded information content or has
        obtained legal authorization, and the use of this Software and services by the User does not infringe upon
        legitimate rights and interests of any third party.</p>
      <p style="text-align: justify;">5.2.2 The User may not use the Software to perform the following actions, including
        but not limited to:</p>
      <p style="text-align: justify;">5.2.2.1 Creating, copying, publishing, spreading, storing the content which violates
        the local laws and regulations.</p>
      <p style="text-align: justify;">5.2.2.2 Releasing, transmitting, spreading and storing content that infringes upon
        the rights of others, such as the rights of reputation, portraiture, intellectual property, trade secrets, and
        other legal rights.</p>
      <p style="text-align: justify;">5.2.2.3 Spreading fictitious information, concealing the truth for misleading or
        deceiving others.</p>
      <p style="text-align: justify;">5.2.2.4 Using the Software to publish, spread, and promote advertisement and spam.
      </p>
      <p style="text-align: justify;">5.2.2.5 Engaging in other violations of local laws and regulations.</p>
      <p style="text-align: justify;">5.2.3 You may not carry out any commercial conduct by using the Product, including
        but not limited to advertising or selling merchandise.</p>
      <p style="text-align: justify;">5.3 You understand and agree that:</p>
      <p style="text-align: justify;">5.3.1 In case Samooha suspects that the User violates this
        Agreement, appropriate measures within the scope of this Agreement might be taken.</p>
      <p style="text-align: justify;">5.3.2 If you publish the information which may infringe upon any person's legal
        rights or violates this Agreement, the information will be deleted directly.</p>
      <p style="text-align: justify;">5.3.3 In the event of damage to a third party by a User who violates this Agreement,
        the User shall assume liability in their own name and understand that Samooha shall not be
        responsible for any loss or damage.</p>
      <p style="text-align: justify;">5.3.4 If the user violates the law or the terms of this Agreement, which leads to
        loss from the side of Samooha or a third party, as well as to fines from legal authorities, the
        User should compensate for the loss caused and/or the costs incurred, including reasonable lawyer fees,
        investigation and evidence collection costs.</p>
      <p style="text-align: justify;">6. Third-Party Features and Services</p>
      <p style="text-align: justify;">6.1 The User understands and agrees that the Samooha system may
        include skills or services provided by any related party of Samooha or third party, and Hyderabad
        Group Housing only provides relevant function modules and the use interfaces of third-party skills/services in the
        Samooha system in order to facilitate the operation of the User.</p>
      <p style="text-align: justify;">6.2 No matter whether the third-party skills or services are present in the services
        of the Samooha system, or the User independently opens or subscribes them, the User understands
        and agrees that Samooha does not explicitly or implicitly undertake or guarantee the legitimacy or
        effectiveness of behaviors of the providers of the third-party skills/services or the User, or the legitimacy,
        accuracy, effectiveness or safety of the third-party skills/services.</p>
      <p style="text-align: justify;">6.3 Samooha does not supervise the third-party skills/services, have
        any control right, provide the warranty or guarantee in any form for the third-party skills or services, or bear
        any liability.</p>
      <p style="text-align: justify;">6.4 Any controversy or dispute between the User and a provider of any third-party
        skill or service shall be settled by the User and the said party as per the business processes and regulations of
        the provider of the third-party skill/service, and Samooha will not bear any liability.</p>
      <p style="text-align: justify;">7. Privacy Policy and Protection of Personal Information</p>
      <p style="text-align: justify;">7.1 Samooha will protect your privacy in accordance this Privacy
        Policy: or e-mail info@hyderabadgrouphousing.com</p>
      <p style="text-align: justify;">8. Liability for Breach of This Agreement</p>
      <p style="text-align: justify;">8.1. Samooha has the right to determine whether the User's behavior
        complies with the provisions of this Agreement. If the User is considered to have violated relevant laws and
        regulations or the provisions of this Agreement and relevant rules, Samooha has the right to
        remove the violating information, as well as restrict, suspend, terminate the User's access to the software
        services, investigate the User's legal responsibilities, and take other measures that Samooha
        deems appropriate. The User shall bear full responsibility for causing any loss incurred to Samooha
        Housing (including but not limited to receiving any third party claims or penalties from any administrative
        department).</p>
      <p style="text-align: justify;">9. Service Risks and Disclaimers</p>
      <p style="text-align: justify;">9.1 Samooha provides service support with current technology.
        Samooha does not guarantee that this Software service will not be interrupted or have no errors in
        operation, or that it will correct all defects in this Software service, or that this Software service can meet
        all requirements of the User. Samooha will not bear any liability arising therefrom.</p>
      <p style="text-align: justify;">9.2 Samooha is not responsible for any loss caused by third parties,
        such as communication line failure, technical problems, network, mobile terminal equipment failure, system
        instability, and other causes of force majeure.</p>
      <p style="text-align: justify;">9.3 The content involved in this Software is only for providing more information to
        the User and is only for the User's reference; does not mean that Samooha agrees with its
        statement or description, nor does it constitute professional advice in any field. If the User needs to solve
        specific problems, please consult professionals in the relevant fields.</p>
      <p style="text-align: justify;">9.4 This software, like most Internet software and services, may be subject to
        various security problems brought about by users, network connection quality, social environment, etc. For
        example, publishing personal information may result in real-life harassment. Other software products which contain
        viruses and malware and are installed on the same Web Application may bring security risks and influence the
        functioning of the Software. To avoid damage and harassment, you are advised to be aware of the possible security
        risks and take the necessary measures to prevent them.</p>
      <p style="text-align: justify;">9.5 This Software, like most Internet software, is affected by difference in factors
        including but not limited to use reasons, network service quality, social environment, and may be disturbed by
        various security issues, for example, the use of user information by others, resulting in harassment in real life;
        other software downloaded and installed by or other websites visited by the User contain viruses such as Trojan
        Horse, which threatens the security of the information and data on the User's terminal equipment and thus affects
        the normal use of this Software. The User shall strengthen the awareness of information security and user data
        protection to avoid loss and harassment.</p>
      <p style="text-align: justify;">9.6. Samooha draws your attention to the fact that to protect the
        company's business development and possible autonomy adjustments, Samooha can modify or interrupt
        its services at any time after it has reasonably notified the User.</p>
      <p style="text-align: justify;">9.7 Unless expressly required otherwise by laws and regulations, we will do our best
        to ensure that the related services are safe, effective, accurate and reliable. However, please understand that we
        cannot guarantee that in the cases when the Services are restricted fully or in part by the current state of
        technology.</p>
      <p style="text-align: justify;">9.8 The user agrees that Samooha has the right to suspend, interrupt
        or terminate all or part of this service to the User based on the requirements of the judicial, regulatory and
        supervisory authorities or its own business reasons, and Samooha will not bear any liability
        therefore.</p>
      <p style="text-align: justify;">9.9 You understand and agree that Samooha will use its commercially
        reasonable effort to ensure the safety of the User's data stored in this Software and service, but Samooha
        Housing cannot provide complete guarantee for this. You should understand that Samooha will not be
        liable for the failure to delete, store or backup data in services.</p>
      <p style="text-align: justify;">10. Intellectual Property Rights</p>
      <p style="text-align: justify;">10.1. Samooha is the intellectual property owner of this Software /
        Web Application. Any copyright, trademark, and patent rights, trade secrets, and other intellectual property
        rights related to this Software, as well as all the content related to this Software (including but not limited to
        text, images, audio, video, charts, interface and layout design, relevant data or electronic documents, etc.) are
        protected by the local laws and regulations and corresponding international treaties, and belong to Hyderabad
        Group Housing.</p>
      <p style="text-align: justify;">10.2. Without Samooha's written consent, the User may not implement,
        utilize, transfer, or permit any third party to implement, utilize, or transfer the above intellectual property
        rights for any commercial or non-commercial purpose. Samooha reserves the right to pursue legal
        liability for the above acts.</p>
      <p style="text-align: justify;">11. Modification of This Agreement</p>
      <p style="text-align: justify;">11.1 Samooha has the right to amend the clauses of this Agreement if
        and when necessary. Once any clause of this Agreement is amended, the amended clause will be published on the
        relevant page. You should proactively cancel related services if he or she disagrees with any amendment. You will
        be deemed as having accepted the amendment if he or she continues to use the service.</p>
      <p style="text-align: justify;">12. Applicable Laws and Dispute Resolution</p>
      <p style="text-align: justify;">12.1 The interpretation, effectiveness and dispute resolution, are applicable to the
        laws of the Government of India. In the absence of relevant legal provisions, reference is made to the
        international business practices and/or business practices.</p>
      <p style="text-align: justify;">12.2 This Agreement is signed in Hyderabad of India where Samooha's
        servers are located and registered.</p>
      <p style="text-align: justify;">12.3 Any dispute or controversy aroused between you and Samooha
        should first be settled through friendly consultation. If consultation fails, you agree to submit the dispute to
        the jurisdiction court where Samooha is located.</p>
      <p style="text-align: justify;">13. Miscellaneous</p>
      <p style="text-align: justify;">13.1 Samooha will notify the User by email or short message or web
        announcement or in a manner Samooha deems appropriate, of any modification of the service terms,
        any change in the service and/or other important matters. After Samooha sends a message to the
        User through any of the above methods, the User will be deemed as accepting the content of the new message if
        he/she raises no objection in writing within three days.</p>
      <p style="text-align: justify;">13.2 This Agreement was updated on November 01, 2020.</p>
      <p style="text-align: justify;">13.3 The titles of each paragraph are written only for the convenience of reading
        and they cannot be used as a basis for the interpretation of the Agreement.</p>
      <p style="text-align: justify;">13.4 If some provisions of this Agreement cannot be applied for some reasons, the
        others remain valid and are binding on both parties.</p>
      <p style="text-align: justify;">13.5 Samooha does not ask for any banking details which include
        Credit Card or any Personal Banking details. </p>
      <p style="text-align: justify;">13.6 Samooha does not guarantee or warranty any properties, they are
        subjective to self assessment by buyer &amp; seller. This is a Web Application which creates a platform for Joint
        Ventures and Associations.</p>
    </div>
  </div>
</div>


