<!-- <img class="img img-fluid" [src]="project?.filePath"> -->
<div class="statusclass">
  <div class="p-2 statgrid">
    <ul class="list-inline">
      <li class="list-inline-item"><div class="d-flex"><div class="status-0"></div> <span>Total Plots: {{plotsCount?.total}}</span></div>
      </li>
      <li class="list-inline-item"><div class="d-flex"><div class="status-1"></div> <span>Open: {{plotsCount?.open}}</span> </div>
      </li>
      <li class="list-inline-item"><div class="d-flex"><div class="status-2"></div> <span>Sold: {{plotsCount?.sold}}</span> </div>
      </li>
    </ul>
    <div>
      <h4>Status: {{status}}</h4>
      <!-- <a mat-icon-button (click)="printPage()"><mat-icon>print</mat-icon></a> -->
    </div>
  </div>
</div>
<div id="container-img">

</div>
<div *ngIf="uploadSuccess" class="alert alert-success mt-3 mb-0">Customer Details Updated Succesfully</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<div class="spinner">
  <mat-spinner *ngIf="showProgress"></mat-spinner>
</div>

