<!-- <img class="img img-fluid" [src]="project?.filePath"> -->
<div class="m-2">
  <div class="p-2">
    <ul class="list-inline">
      <li class="list-inline-item"><div class="d-flex"><div class="status-0"></div> <span>Total Plots: {{plotsCount?.total}}</span></div>
      </li>
      <li class="list-inline-item"><div class="d-flex"><div class="status-1"></div> <span>Open: {{plotsCount?.open}}</span> </div>
      </li>
      <li class="list-inline-item"><div class="d-flex"><div class="status-2"></div> <span>Sold: {{plotsCount?.sold}}</span> </div>
      </li>
    </ul>
  </div>
  <div id="container-img">

  </div>
  <div *ngIf="uploadSuccess" class="alert alert-success mt-3 mb-0">Customer Details Updated Succesfully</div>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</div>
<div class="spinner">
  <mat-spinner *ngIf="showProgress"></mat-spinner>
</div>
