
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #fff1f1,
    100 : #ffdcdd,
    200 : #ffc5c6,
    300 : #ffaeaf,
    400 : #ff9c9d,
    500 : #ff8b8c,
    600 : #ff8384,
    700 : #ff7879,
    800 : #ff6e6f,
    900 : #ff5b5c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffe5e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: (
    50 : #eeeeef,
    100 : #d5d5d7,
    200 : #b9b9bc,
    300 : #9c9da1,
    400 : #87888c,
    500 : #727378,
    600 : #6a6b70,
    700 : #5f6065,
    800 : #55565b,
    900 : #424348,
    A100 : #adbaf9,
    A200 : #7e91f5,
    A400 : #4160ff,
    A700 : #274bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$samooha-app-primary: mat-palette($md-primary);
$samooha-app-accent: mat-palette($md-secondary);

// The warn palette is optional (defaults to red).
$samooha-app-warn: mat-palette($mat-red);
$samooha-app-secondary: mat-palette($md-secondary);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$samooha-app-theme: mat-light-theme((
  color: (
    primary: $samooha-app-primary,
    accent: $samooha-app-accent,
    warn: $samooha-app-warn,
    secondary: $samooha-app-secondary
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($samooha-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Mada', sans-serif !important; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.breadcrumb{
  background: transparent;
  color: #6c757d;
  padding: 0;
}

.breadcrumb-item>a{
  color: #333;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #695d5d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #695d5d;
}
