<div class="col-md-4 offset-md-4 mt-5">
  <div class="card">
    <div class="card-header text-center header-bg">
      <img class="img img-fluid mt-2" src="assets/samooha-logo.png" alt="Samooha">
      <h3>Reset Password</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="resetpasswordForm" (submit)="passwordSubmit()">
        <div class="form-group">
          <input type="text" class="form-control is-valid" name="password" formControlName="password"
            aria-describedby="emailHelpId" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.invalid }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Email Id is Required</div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control is-valid" name="confirmPassword" formControlName="confirmPassword"
            aria-describedby="emailHelpId" placeholder="Confirm Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.invalid }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Email Id is Required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
      </form>
      <div class="text-muted text-center mt-2 mb-2">
        <span>Remember your password? <a class="nav-line" [routerLink]="['/login']">Login</a> </span>
      </div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{message}}</div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>
  </div>
</div>
